body {
  font-family: calibri;
  background-color: rgb(209, 200, 200);
}

/* HEADER */

header {
  background-color: black;
  display: flex;
  border-bottom: 5px solid white;
  margin: auto;
  align-items: center;
}

header p {
  color: white;
  font-size: 25px;
}

/* NAVIGATION */

/* The navigation menu */
.navbar {
  overflow: hidden;
  background-color: black;
  border-bottom: 5px solid white;
}

/* Navigation links */
.navbar a {
  float: left;
  font-size: 22px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 22px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover,
.subnav:hover .subnavbtn {
  background-color: red;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: red;
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}


/*---------------------------------------*/

.image {
  width: 50%;
  height: auto;
  margin-left: 18%;
}

.zoom input[type=checkbox] {
  display: none
}

.zoom img {
  transition: transform 0.25s ease;
  cursor: zoom-in
}

.zoom input[type=checkbox]:checked~img {
  transform: scale(1.5);
  cursor: zoom-out
}


/* Corps de la page */

h1 {
  text-align: center;
  color: white;
}

body,
html {
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: url("images/morgoth1.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  /* The image used */
  background-image: url("images/morgoth2.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {
  /* The image used */
  background-image: url("images/arda.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.case {
  margin-top: 1%;
  margin-left: 20%;
}

.case a {
  margin-right: 3%;
  margin-left: 3%;
  font-size: 35px;
  color: black;
  text-decoration: none;
}

.case a:hover {
  color: red;
}

li {
  margin-top: 1%;
  font-size: 22px;
}

ul {
  margin-top: 1%;
  font-size: 20px;
}

h2 {
  font-size: 28px;
  color: black;
  margin-left: 2%;
  margin-top: 5%;
}

h3 {
  font-size: 25px;
  color: black;
  margin-left: 2%;
  margin-top: 5%;
}

p {
  font-size: 20px;
  color: black;
  margin-left: 3%;
  margin-top: 2%;
}

.titre {
  text-decoration: underline;
}

input {
  margin-left: 5%;
  width: 100%;

  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.liens a {
  margin-right: 3%;
  margin-left: 3%;
  font-size: 20px;
  color: black;
  text-decoration: none;
  margin-top: 5%;
}

.liens a:hover {
  color: red;
}
